<div class="side-bar">
    <ul class="side-menu">
        <a href="/task" class="sideanchor"><li class="side-item active" data-name="role">Tasks</li></a>
        <a href="/employee" class="sideanchor"><li class="side-item " data-name="role">Employee</li></a>
        <a href="/department" class="sideanchor"><li class="side-item" data-name="dept">Department</li></a>
        <a href="/role" class="sideanchor"><li class="side-item" data-name="role">Role</li></a>
        <a href="/reveive-dash" class="sideanchor"><li class="side-item" data-name="role">Reveives</li></a>
        <a href="/leave-dash" class="sideanchor"><li class="side-item" data-name="role">Leave Management</li></a>
        
    </ul>
</div>